/* Browsers: last 10 version */
@import './variables.scss';

$colors: (
  'negative': '#FF4B58',
  'yellow_01': '#ffc500',
  'grey_01': '#333333',
  'grey_02': '#666666',
  'grey_03': '#999999',
  'grey_04': '#d9d9d9',
  'grey_05': '#f8f9fb',
);

@mixin position($name, $color) {
  $positions: (
    'all',
    'top',
    'right',
    'left',
    'bottom'
  );

  @each $posi in $positions {
    .border-#{$posi}-#{$name} {
      @if($posi =='all') {
        border: 1px solid unquote($color);
      }

      @else {
        border-#{$posi}: 1px solid unquote($color);
      }
    }
  }
};

@each $name,
$color in $colors {

  .text-#{$name} {
    color: unquote($color);
  }

  .bg-#{$name} {
    background-color: unquote($color);
  }

  @include position($name, $color);
};

$fontSize: (
  '12': 0.75,
  '13': 0.813,
  '14': 0.875,
  '15': 0.938,
  '16': 1,
);
$fontWeight: (
  '400': 400,
  '500': 500,
  '600': 600,
  '700': 700,
);

@mixin fonts($size, $weight) {
  font-size: $size + 'rem';
  font-weight: $weight;
};

@each $sizeKey,
$size in $fontSize {

  @each $weightKey,
  $weight in $fontWeight {
    .font-#{$sizeKey}-#{$weightKey} {
      @include fonts(#{$size}, #{$weight});
    }
  }
};
